/*General*/
html {
    font-family: 'Nunito', sans-serif;
}
body {
    background-color: rgb(230, 225, 219);
}
footer {
    background-color: rgb(133, 189, 175);
    text-align: center;
}
a {
    text-decoration-line: none;
    color:rgb(103, 89, 167)
}
#cover {
    margin:auto;
}
#coverpage {
    min-width:5cm;
    max-width:50cm;
    margin:auto
}

/* HEADER Styles @@@@@@@@@@@@@@@*/
#Headtitle {
    color: rgb(158, 9, 9);
    font-weight: bold;
    font-size: 20px;
    margin: auto;
}
#nav-links-list {
    display:flex;
    list-style-type: none;
    background-color: rgb(216, 216, 216);
    padding: 0px 0px 10px 0px
}
.nav-link {
    margin: 0px 10px 0px 2px
}
header {
    background-color: rgba(157, 181, 224, 0.904);
    z-index: 1;
    position: sticky;
    top: 0px;

    /*margin config*/
    margin-top: -16px;
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;

    /*padding config*/
    padding-top: 1px;

    /*header border config*/

    border-left-style:solid;
    border-color:rgba(72, 182, 8, 0.329);
    border-width: 20px;
    backdrop-filter: blur(1px);
    text-align: center;
}

/*ENTRY Styles @@@@@@@@@@@@@@@*/
section {
    background-color:white;
    border-style: solid;
    border-color: white;
    border-width: 1cm;
    border-radius: 10px;
}

#latest {
    color:rgb(255, 255, 255);
    background-color:rgb(83, 20, 20);
    border-style: solid;
    border-color: rgb(83, 20, 20);
    border-width: 20px;
    border-radius: 10px;
    margin-bottom: -20px;

}
#previous_entries {
    color:rgb(255, 255, 255);
    background-color:rgb(83, 20, 20);
    border-style: solid;
    border-color: rgb(83, 20, 20);
    border-width: 20px;
    border-radius: 10px;
    margin-bottom: -20px;
}
details{
    background-color:rgb(83, 20, 20);
    border-style: solid;
    border-color: rgb(83, 20, 20);
    border-width: 20px;
    border-radius: 10px;
    margin-bottom: -20px;
}
summary{
    color: white;
}
.entrytype-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.entrytile{
    width: 20cm;
    margin: 20px 20px 20px 20px;
}

.visual-media{
    width: 35em;
    border-right-style:solid;
    border-bottom-style:solid;
    border-color: rgba(72, 181, 189, 0.39);
    border-width: 10px;
    border-radius: 20px

}

