/*General*/
html {
    font-family: 'Nunito', sans-serif;
}
body {
    background-color:#FAC6B9;
}
#booklet{
    background-color:rgb(245, 232, 216);
    border-radius: 0px;
    margin-right: -15px;
    margin-left: -15px;
}
footer {
    background-image:linear-gradient(180deg, #0384A3, #026680);
    margin: 0cm -15px -1cm -15px;
    text-align: center;
    color: white;
}
a {
    text-decoration-line: none;
    color:rgb(67, 31, 228)
}
/* Cover Page */
#cover {
    margin-top:-10%;
    padding-top: -30cm;
    object-position: -10cm;
    margin-left: -15px;
    margin-right: -15px;
}
#coverpage {
    width: 100%;
    object-position: 0cm 0cm;
    object-fit: cover;
    min-height: 10cm;
    max-height: 15cm;
}
#journal1 {
    background-color: rgb(153, 108, 97);
    padding: 1cm 1cm 1cm 1cm;
    margin-bottom: 1cm;
    color: white;
    border-radius:10px;
}

/* HEADER Styles @@@@@@@@@@@@@@@*/
#Headtitle {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: rgb(243, 68, 14);
    font-size: 40px;
    font-weight: 300;
    margin: auto;
}
#nav-links-list {
    display:flex;
    list-style-type: none;
    background-color: rgb(216, 216, 216);
    padding: 0px 0px 10px 0px
}
.nav-link {
    font-size:20px;
    margin: 0px 10px 0px 2px
}
header {
    background-image: linear-gradient(45deg, rgba(21, 0, 141, 0.856), rgba(5, 127, 148, 0.644));
    /*background-color: rgba(157, 181, 224, 0.904);*/
    z-index: 1;
    position: sticky;
    top: 0px;

    /*margin config*/
    margin-top: -6px;
    margin-bottom: 10px;
    margin-left: -15px;
    margin-right: -15px;

    /*padding config*/
    padding-top: 1px;

    /*header border config*/

    border-left-style:solid;
    border-color:rgba(0, 0, 0, 0.329);
    border-width: 40px;
    backdrop-filter: blur(2px);
    text-align: center;
}

/*ENTRY Styles @@@@@@@@@@@@@@@*/
section {
    background-color:white;
    border-style: solid;
    border-color: white;
    border-width: 1cm;
    border-radius: 10px;
}

#latest {
    color:rgb(255, 255, 255);
    background-color:rgb(90, 38, 38);
    border-style: solid;
    border-color: rgb(83, 20, 20);
    border-width: 20px;
    border-radius: 10px;
    margin-bottom: -20px;

}
#previous_entries {
    color:rgb(255, 255, 255);
    background-color:rgb(83, 20, 20);
    border-style: solid;
    border-color: rgb(83, 20, 20);
    border-width: 20px;
    border-radius: 10px;
    margin-bottom: -20px;
}
details{
    background-color:rgb(83, 20, 20);
    border-style: solid;
    border-color: rgb(83, 20, 20);
    border-width: 20px;
    border-radius: 10px;
    margin-bottom: -20px;
}
summary{
    color: white;
}
.entrytype-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.entrytile{
    width: 20cm;
    margin: 20px 20px 20px 20px;
}

.visual-media{
    width: 35em;
    border-radius: 20px

}

