/*External CSS*/
/*CSS for General Page elements*/
*{
    font-family: 'Nunito', sans-serif;
}

#booklet{
    background-color:rgb(245, 232, 216);
    border-radius: 0px;
    margin-right: -15px;
    margin-left: -15px;
}
footer {
    background-image:linear-gradient(180deg, #0384A3, #026680);
    margin: 0cm -15px -1cm -15px;
    text-align: center;
    color: white;
}
a {
    text-decoration: none;
    color:rgb(67, 31, 228)

}
/* Theme Color for heading*/
#latest, #previous-entries, #new-entry{
    background-color:rgb(69, 190, 164);
    border-color: rgb(69, 190, 164);
    color: white;
}

/* Cover Page */
#cover {
    margin-top:-10vh;
    margin-left: -18px;
    width:90vw
}
#coverpage {
    width: 100vw;
    object-fit: cover;
    min-height: 10cm;
    max-height: 15cm;
}
#journal1 {
    background-color: hsl(12,22.4%,49%);
    padding: 1cm 1cm 1cm 1cm;
    margin-bottom: 1cm;
    color: white;
    border-radius:10px;
    scroll-margin-top: 3.5cm;
}

/* HEADER Styles*/
#Headtitle {
    font-style: italic;
    color: rgb(243, 68, 14);
    font-size: 40px;
    font-weight: 300;
    margin: auto;
}
header {
    background-image: linear-gradient(45deg, rgba(21, 0, 141, 0.856), rgba(5, 127, 148, 0.644));
    /*background-color: rgba(157, 181, 224, 0.904);*/
    z-index: 1;
    position: sticky;
    top: 0px;

    /*margin config*/
    margin-top: -6px;
    margin-bottom: 10px;
    margin-left: -15px;
    margin-right: -15px;

    /*padding config*/
    padding-top: 1px;

    /*header border config*/

    border-left-style:solid;
    border-color:rgba(0, 0, 0, 0.329);
    border-width: 40px;
    backdrop-filter: blur(2px);
    text-align: center;
}
/* Navigation Bar Styles*/
#nav-links-list {
    display:flex;
    list-style-type: none;
    background-color: rgb(216, 216, 216);
    padding: 0px 0px 10px 0px
}

#nav-links-list li {
    font-size:20px;
    margin: 0px 10px 0px 2px
}
a:hover {
    color:white;
}
a:hover[href="#latest"] {
    background-color: rgb(121, 15, 15);
}
a:hover[href="#previous-entries"] {
    background-color: rgb(0, 82, 64);
}
a:hover[href="#new-entry"] {
    background-color: rgb(0, 68, 114);
}
a:active {
    color:rgb(243, 68, 14);
}

/*ENTRY Styles*/
section {
    background-color:white;
    border-style: solid;
    border-color: white;
    border-width: 1cm;
    border-radius: 10px;
}
/*titles*/
#latest {
    border-style: solid;
    border-width: 20px;
    border-radius: 10px;
    margin-bottom: -20px;
    scroll-margin-top: 3cm;
}
#previous-entries {
    border-style: solid;
    border-width: 20px;
    border-radius: 10px;
    margin-bottom: -20px;
    scroll-margin-top: 3.0cm;
}
/*previous entry pop-up*/
details{
    background-color:#FAC6B9;
    border-style: solid;
    border-color: #FAC6B9;
    border-width: 20px;
    border-radius: 10px;
    margin-bottom: -20px;
}
summary{
    color:teal;
}
.entrytype-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}
.entrytype-container > div{
    width: 20cm;
    margin: 20px 20px 20px 20px;
}
/* entry media */
.visual-media{
    width: 70vmin;
    max-width: 40em;
    border-radius: 20px

}
figure{
    display: inline;
}
figcaption + audio{
    padding: 10px;
    border-radius:10px;
    background-color: rgba(150, 67, 0, 0.329);
}



/*FORM Styles*/
#new-entry{
    scroll-margin-top: 3.0cm;
    border-radius: 10px;
    border-style: solid;
    border-width: 20px;
    border-radius: 10px;
    margin-bottom: -20px;
}
form {
    background-color: white;
    border-radius: 10px;
}
fieldset{
    border-radius: 10px;
    padding: 0.5in 0.5in 0.5in 0.5in;
}
legend ~ div {
    font-weight: 900;
}
textarea{
    height: 20vh;
    width: 70vw;
    min-height: 2in;
    min-width: 3.5in;
    max-height: 3in;
    max-width: 6.7in;
    margin: auto;
}
#submit-button{
position:relative;
left: 90%;
}
#selections{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2.7cm 2.7cm;
    justify-items: space-evenly;
    align-content: space-between;
    column-gap: 10px;
    row-gap: 10px;
}
#selections > div{
    background-color:#FAC6B9;
    padding: 10px;
    border-radius: 10px;
}

/* MISC (Reponsiveness)*/
#app-prompt{
    position: absolute;
    top:0px;
    left: 10%;
    background-color: gold;
    font-size: 40px;
    font-weight: 900;
    margin:auto;
    padding: 0.1in 0.1in 0.1in 0.1in;
}
@media screen
    and (min-width: 640px) {
    #app-prompt{
        display: none;
    }
}



